<%# app/views/formularios/new.html.erb %>

<% content_for :title, "Publicar Novo Formulário" %>

<h1>Publicar Novo Formulário</h1>

<%= render "form", formulario: @formulario %>

<br>

<div>
  <%= link_to "Voltar para a lista de formulários", formularios_path %>
</div>