<div id="<%= dom_id turma %>">
  <p>
    <strong>Disciplina:</strong>
    <%= turma.disciplina_id %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= turma.professor_id %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= turma.semestre %>
  </p>

</div>
