<div id="<%= dom_id template %>">
  <p>
    <strong>Titulo:</strong>
    <%= template.titulo %>
  </p>

  <p>
    <strong>Publico alvo:</strong>
    <%= template.publico_alvo %>
  </p>

  <p>
    <strong>Criado por:</strong>
    <%= template.criado_por_id %>
  </p>

</div>
