<div id="<%= dom_id opcoes_perguntum %>">
  <p>
    <strong>Pergunta:</strong>
    <%= opcoes_perguntum.pergunta_id %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= opcoes_perguntum.texto %>
  </p>

</div>
