<% content_for :title, "New opcoes perguntum" %>

<h1>New opcoes perguntum</h1>

<%= render "form", opcoes_perguntum: @opcoes_perguntum %>

<br>

<div>
  <%= link_to "Back to opcoes pergunta", opcoes_pergunta_path %>
</div>
